/*styles.css*/

@font-face {
	font-family: JetBrainsMono;
	src: url(JetBrainsMono-Regular.woff);
}

/* Hide php tag in code block */
#main > pre::after {
	display: none;
}
#main > pre,
#main > pre > code {
	background-color: #2e2e2e;
	font-family: JetBrainsMono;
	font-size: 15px;
	line-height: 2;
}
#main > pre > code {
	color: white;
	font-family: JetBrainsMono;
	font-size: 15px;
	line-height: 2;
}

div > pre,
div > pre > code {
	background-color: #2e2e2e !important;
	font-family: JetBrainsMono !important;
	font-size: 15px !important;
	line-height: 2 !important;
}

div > pre > code {
	color: white !important;
	font-family: JetBrainsMono !important;
	font-size: 15px !important;
	line-height: 2 !important;
}

.sidebar,
.sidebar-toggle {
	background-color: rgb(228, 228, 228);
}

strong {
	color: red !important;
}

span.scroll-to-top {
	background: red !important;
	color: white !important;
}

/* Table Styles */
th {
	background-color: #0b6e84;
	color: #fff;
	word-spacing: 8px;
}
td {
	word-spacing: 1px;
}
td + td {
	background-color: #2e2e2e;
	color: #fff;
	word-spacing: 4px;
}

td + td + td + td {
	background-color: #2e2e2e;
	color: #fff;
	word-spacing: 4px;
}

td + td + td {
	background-color: #fff;
	color: #333;
	word-spacing: 4px;
}
